<html>
    <head>
        <title>Beautesoft</title>
        
    </head>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <body>
        <h1 style="align-items: center;">Catalog</h1>
        <p><a href="http://127.0.0.1:8000/ur_app">Appointments</a></p>

        
    <div style="float;left;width: fit-content;">
        {%for i in pro%}
        <p>{{i.product_n}}</p><br>
        <p>{{i.price}}</p><br>
        <p><button type='button' onclick="myFunction('{{i.product_n}}','{{i.price}}')">Add To Cart</button></p>
        {%endfor%}
    </div>
     <div style="float: right;">
        <h1>Cart</h1>
    {%for i in items%}
    
    <p>{{i.product}} </p><br>
    <p>{{i.price}} </p><br>
    {%endfor%}
   
    <p>Total-{{total}}</p>
    
    <form action='paygate'><input type=submit value=Checkout></form>
    </div> 
    </body>
    <script>
        function myFunction(product,price){
            console.log(product)
            alert("item added");
        $.ajax('http://127.0.0.1:8000/home', {
        
        type: 'POST',  
        data: { product: product , price:price,csrfmiddlewaretoken: '{{ csrf_token }}'}, 
         // data to submit
        // success: function (data, status, xhr) {
        //     $('p').append('status: ' + status + ', data: ' + data);
        // },
        // error: function (jqXhr, textStatus, errorMessage) {
        //         $('p').append('Error' + errorMessage);
        // }
    });
        window.location.reload();
         }
     </script>
</html>
